body{
    background-color: rgba(0, 84, 105, 0.734);
}
h1{
    text-align:center ;
}
#margin{
    color: white;
    text-align: center;
    background-color: orangered;
    width: 400px;
        height: 300px;
         border: 2px black; /* Add a border */
        padding: 20px; /* Add padding around the content */
        margin: 10px auto; /* Add margin and center the box horizontally */
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}
#border{
    text-align: center;
    background-color: rgb(5, 110, 239);
     width: 350px;
        height: 230px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
}
#padding{
    text-align: center;
    background-color: rgb(234, 255, 5);
     width: 300px;
     
     padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        height: 170px;
        padding: 20px;
}
#content{
    text-align: center;
    background-color: rgba(0, 247, 189, 0.856);
     width: 200px;
        height: 110px;
        
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 30px;
        padding-top: 40px;
}